@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse-once {
    0% { opacity: 1; transform: scale(1); }
    50% { opacity: .5; transform: scale(1.05); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes fall {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}


*, html, body {
  margin: 0;
  padding: 0;
}

html {
scroll-behavior: smooth !important;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 4em;
}

.scene {
  position: relative;
  width: 100%; 
  height: auto;
  perspective: 35rem;
}

.scene .carousel.keen-slider {
  width: 100%;
  height: 100%;
  overflow: visible;
  position: absolute;
  transform: translateZ(-360);
  transform-style: preserve-3d;
}

.carousel__cell {
  position: absolute;
  width: 22rem; 
  height: 15rem; 
}

.carousel__cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 24rem) { 
  .scene {
    width: 25rem;
    height: 19rem; 
    perspective: 50rem; 
  }


  .carousel__cell {
    width: 25rem;
    height: 19rem; 
  }

  .carousel__cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 40rem) { 
  .scene {
    width: 38rem;
    height: 30rem; 
    perspective: 60rem; 
  }


  .carousel__cell {
    width: 37.5rem; 
    height: 31.25rem; 
  }

  .carousel__cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 64rem) { 
  .scene {
    width: 43rem; 
    height: 36rem; 
    perspective: 70rem; 
  }


  .carousel__cell {
    width: 43rem; 
    height: 37.5rem;
  }

  .carousel__cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
